<div class="grid-items">

  <div class="grid-item">
    <h1 class="owner_title">Owner:</h1>
    <img class="owner_pic" src="<%= asset_path('p0.jpg') %>">
    <p class="owner">Robert Kole</p>
    <a href="tel:+1-555-555-5555">(555)555-5555</a></br>
    <a href="mailto:robert@plumbing.com?Subject=Service%20Request">robert@plumbing.com</a>
  </div>

  <div class="grid-item">
  </div>

  <div class="grid-item">
  </div>

  <div class="grid-item grid-item-big">
  </div>

  <div class="grid-item">
  </div>

  <div class="grid-item">
    <h1 class="mpl">Texas MPL#55555</h1>
  </div>

  <div class="grid-item grid-item-big">
    <div class="social">
      <a href="http://facebook.com" class="fa fa-facebook-square fa-3x"></a>
      <a href="http://instagram.com" class="fa fa-instagram fa-3x"></a>
      <a href="http://youtube.com" class="fa fa-youtube-square fa-3x"></a>
      <a href="http://plus.google.com" class="fa fa-google-plus-square fa-3x"></a>
      <a href="http://twitter.com" class="fa fa-twitter-square fa-3x"></a>
    </div>
  </div>

</div>
