<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="https://s3.amazonaws.com/rlcplumbing/p1.jpg" alt="">
    </div>
    <div class="card-header">
      John
    </div>
    <div class="card-copy">
      <p>Born and raised in Deer Park, Texas, John is a local plumbing legend. He started working as a plumber with his father, while he was in high school.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://s3.amazonaws.com/rlcplumbing/p2.jpg" alt="">
    </div>
    <div class="card-header">
      Luigi
    </div>
    <div class="card-copy">
      <p>Luigi is always the first to arrive, and the last to leave. He takes extreme pride in his work, and he's no stranger to detail. Luigi also wears awesome hats.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://s3.amazonaws.com/rlcplumbing/p3.jpg" alt="">
    </div>
    <div class="card-header">
      Jack
    </div>
    <div class="card-copy">
      <p>Jack is the oldest of the bunch, but also the most wise. Many a plumber have come to him for advice. If there was ever a sage in the plumbing industry, it's Jack.</p>
    </div>
  </div>
</div>
