<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="https://s3.amazonaws.com/rlcplumbing/p1.jpg" alt="">
    </div>
    <div class="card-header">
      John
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
    <div class="card-stats">
      <ul>
        <li>6<span>Reviews</span></li>
        <li>4.5/5<span>Rating</span></li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://s3.amazonaws.com/rlcplumbing/p2.jpg" alt="">
    </div>
    <div class="card-header">
      Luigi
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
    <div class="card-stats">
      <ul>
        <li>4<span>Reviews</span></li>
        <li>5/5<span>Rating</span></li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://s3.amazonaws.com/rlcplumbing/p3.jpg" alt="">
    </div>
    <div class="card-header">
      Jack
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
    <div class="card-stats">
      <ul>
        <li>7<span>Reviews</span></li>
        <li>4.5/5<span>Rating</span></li>
      </ul>
    </div>
  </div>
</div>
