@import 'bourbon';
@import 'base/base';
@import 'neat';
@import 'navbar';
@import 'griditems';
@import 'staff';
@import 'home';

.request {
  width: 50%;
  margin: 0 auto;
}

.request_popup {
  text-align: center;
  padding: 2em 0 0 0;
}

.simple_form label {
  float: left;
  margin: .1em 0 0 .5em;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: transparentize(white, 0.5);
}

a:focus {

}

a:active {

}
