.owner_title {
  padding: 0 0 0 0;
  margin: -1.2em;
}

.owner_pic {
  border-radius: 10px;
  border: 1px solid black;
}

.owner {
  padding: 0 0 0 0;
}

.mpl {
  padding: 3.0em 0 0 0;
}

.social {
  padding: 3.2em 0 0 0;
  letter-spacing: 2rem;
}

.available {
  padding: 1.6em 0 0 0;
}

.services_title {
  text-align: left;
  margin: -.7em 0 0 1.6em;
}

.services {
  text-align: left;
  margin: -.5em 0 0 2em;
  padding: 5px;
  color: white;
}

.locations_title {
  text-align: left;
  margin: -.7em 0 0 2.7em;
}

.locations {
  text-align: center;
  margin: -.5em 0 0 -.3em;
  padding: 5px;
  color: white;
}

.company_name {
  font-family: 'Rajdhani', sans-serif;
  font-size: 2.8em !important;
  margin: 1.1em 0 0 0;
}
